{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h2 class="text-center">Reset Password</h2>
    <hr />
    {% if validlink %}
        <p class="text-center">Please enter your password twice.</p>
        <form method="post" class="mb-3">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary w-100" type="submit" value="Change Password">
        </form>
    {% else %}
        <div class="alert alert-danger text-center" role="alert">
            Your password change link is not valid!
        </div>
    {% endif %}
{% endblock %}
