{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="text-center">Login Form</h2>
    <hr />

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-100 btn btn-primary mt-3" type="submit">Login</button>
    </form>
</div>
<a class="text-center mt-1" href="{% url 'users:password_reset' %}">Forgot your password?</a>
<p class="text-center mt-1">Not a member? <span><a href="{% url 'users:signup' %}">Sign-up here</a></span></p>
{% endblock %}
